body{
	overflow-x:hidden;
	background: url(../images/bg.png);
}
.m-countdown{
	height: 57px;
	background: #ECDE17;
	padding-top: 8px;
	font: 14px/1.5 "Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
.g-img{
	background: url(../images/counttime.png);
	height: 44px;
    width: 504px;
    margin: 0 auto;
}
.count-down{
	position: absolute;
    margin-left: 216px;
}
.count-down>div{
	float:left;
	margin-right: 17px;
	width: 55px;
}
.m-banner{
	position: relative;
}
.count-down .n1,.count-down .n2{
	float: left;
    font-size: 27px;
    color: white;
    font-weight: bold;
    width: 26px;
    margin-top: 1px;
}
.count-down .n1{
	padding-left: 5px;
}
.count-down .n2{
	padding-left: 7px;
}
.count-down .m{
	margin-right: 20px;
}
.m-top{
	height: 60px;
    background: #E20010;
    cursor: auto;
}
.m-top .t-item1>span,.m-top .t-item2>span{
	float: left;
	margin-left: 60px;
}
.m-top .t-item1>span img,.m-top .t-item2>span img{
    /*margin-top: -14px;*/
}
.m-top .t-item1{
	float: left;
    background: #C8000E;
    width: 25%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.m-top .t-item2{
	float: left;
    width: 25%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.m-top div.right-icon {
    width: 6px;
    height: 10px;
    background: url(../images/icon5.png);
    margin-top: 25px;
    margin-left: 10px;
    float: left;
}
.m-top .text{
	float: left;
	color: #FADA03;
	margin-left: 20px;
}
.text>div{
	height: 30px;
    font-size: 20px;
    margin-top: -4px;
}
.text .date{
	font-weight: 100;
	font-size: 16px;
}
.m-mibao{
	text-align: center;
	margin-top: 30px;
    height: 121px;
}
.m-mibao .header-img {
    background: url(../images/header-img.png);
    height: 112px;
    width: 399px;
    margin: 0 auto;
    color: #E1000B; 
    padding: 50px 0 0 103px;
}
.header-img .mibao-text{
	font-size: 25px;
    font-weight: bold;
    width: 262px;
}
.header-img .mibao-text .mt-s{
	margin-right: 10px;
}
.m-rush .r-con{
	float: left;
	width: 236px;
	margin-right:2px;
}
.m-rush .r-con.on,.m-rush .r-con.on .title{
	background: #F46801;
}
.m-rush .title{
	background: rgba(0,0,0,0.3);
    color: white;
    width: 100%;
    float: left;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 2px;
    height: 55px;
}
.m-rush .title {
    font-family: "Microsoft YaHei UI", "微软雅黑";
}
.m-rush .title span{
	font-weight: 100;
	font-size: 14px;
	margin-left: 5px;
}
.m-rush .con,.goods .con{
	width: 100%;
	padding:0;
	float: left;
}
.m-rush .c-img img,.goods .c-img img{
	height: 100%;
	width: 100%;
}
.m-rush .on .c-bottom{
    margin-bottom: 2px;
}
.m-rush .c-price,.goods .c-price{
	height: 85px;
    float: left;
    background: #FFD800;
    width: 170px;
    color: #D40018;
    text-align: center;
    line-height: 96px;
}
.m-rush .c-img,.goods .c-img{
	position: relative;
	height: 230px;
}
.m-rush .c-text,.goods .c-text{
	position: absolute;
    bottom: 0;
    color: white;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 25px;
    line-height: 26px;
    text-align: center;
}
.c-price .lab{
	font-size: 16px;
}
.c-price .code{
	font-weight: bold;
    font-size: 18px;
}
.c-price .number{
	font-size: 50px;
    font-weight: bold;
}
.m-rush .on .c-href,.m-rush .on .c-price{
	height: 83px;
}
.m-rush .on .c-href{
	width: 62px;
}
.m-rush .on .con{
	padding: 0 2px 2px;
}
.c-bottom .c-href{
	float: left;
    background: #B60015;
    height: 85px;
    width: 66px;
    line-height: 103px;
    text-align: center;
}
.c-href span{
	font-size: 20px;
    font-weight: bold;
    color: white;
}
.m-rush{
    height: 370px;
}
.goods-wrap .goods{
	float: left;
    margin-right: 10px;
    width: 230px;
    height: 316px;
    margin-bottom: 10px;
}
.goods-wrap .goods-img img{
	width: 100%;
	height: 100%;
}
.goods-wrap .goods-img{
    height: 241px;
}
.goods-wrap .g-text{
	background: #F1F1F1;
    height: 75px;
    text-align: center;
    padding-top: 20px;
}
.goods-wrap .gt-t{
	color: #3A3A3A;
}
.goods-wrap .gt-t span{
	color: #D40019;
    font-size: 16px;
    font-weight: bold;
    margin-left: 3px;
}
.goods-wrap .gt-btn{
	width: 78px;
    height: 27px;
    margin: 0 auto;
    background: #D40019;
    color: white;
    border-radius: 5px;
    padding-top: 6px;
    cursor: pointer;
}
.goods-wrap .gt-btn img{
	width: 6px;
}
.goods-wrap .goods:nth-child(5),
.goods-wrap .goods:nth-child(10),
.goods-wrap .goods:nth-child(15),
.goods-wrap .goods:nth-child(20),
.goods-wrap .goods:nth-child(25),
.goods-wrap .goods:nth-child(30){
	margin-right: 0;
}
.goods-wrap .goods a>img{
	width: 100%;
    height: 100%;
}
.m-banner .light{
	position: absolute;
    width: 17px;
    height: 17px;
    background: #FFF6E9;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 55px 9px #F7C69C;
    -moz-box-shadow: 0px 0px 55px 9px #F7C69C;
    box-shadow: 0px 0px 55px 9px #F7C69C;
    border: 2px solid rgba(248,204,162,0.6);
}
.m-banner .light1{
	left: 504px;
    top: 49px;
}
.m-banner .light2{
	left: 537px;
    top: 136px;
}
.m-banner .light3{
	left: 590px;
    top: 212px;
}
.m-banner .light4{
	left: 657px;
    top: 284px;
}
.m-banner .light5{
	left: 1225px;
    top: 294px;
}
.m-banner .light6{
	left: 1293px;
    top: 233px;
}
.m-banner .light7{
    left: 1336px;
    top: 170px;
}
.m-banner .light8{
	left: 1374px;
    top: 96px;
}
.m-banner .light9{
	left: 1396px;
    top: 15px;
}
.c-price div:nth-child(1){
	margin-top: -17px;
}
.c-price div:nth-child(2){
	margin-top:-73px;
	color: #9A9A9A;
}
.c-price div:nth-child(2) span:nth-child(2){
	text-decoration: line-through;
}
.goods .c-price{
	background: #F1F1F1;
    text-align: left;
    padding-left: 18px;
    width: 164px;
}
.goods .c-text{
	background: rgba(0,0,0,0.5);
}
.goods-wrap{
	display: flex;
}
.m-bottom>div>div:nth-child(1) img{
	width: 100%;
	height: 242px;
}
.m-bottom>div>div:nth-child(2) img{
	margin-right:10px;
}
.m-bottom>div>div:nth-child(2) a:nth-child(5) img{
	margin-right:0px;
}
.side-menu{
	background: url(../images/side-menu.png);
    height: 652px;
    width: 200px;
    position: fixed;
    top: 112px;
    margin-left: 125px;
}
.side-menu .hrefs{
	margin-left: 55px;
    margin-top: 266px;
}
.side-menu .hrefs a{
	color: white;
	font-size: 12px;
}
.side-menu .hrefs th,.side-menu .hrefs td{
	width: 66px;
    text-align: center;
    border: 0;
}
.side-menu .hrefs th a{
	color: #FFD800;
}
.side-menu .hrefs table{
	border: 0;
}
.side-menu tr th:nth-child(1).odd,.side-menu tr td:nth-child(1).odd{
	background: red;
}
.side-menu tr th:nth-child(2).even,.side-menu tr td:nth-child(2).even{
	background: red;
}
.side-menu .return-index{
	width: 134px;
    height: 33px;
    position: absolute;
    margin-top: 233px;
    margin-left: 54px;
}
.side-menu .return-index a{
	padding: 3px 67px;
    font-size: 22px;
}
.side-menu .return-top{
	position: absolute;
    margin-top: 624px;
    margin-left: 55px;
}
.side-menu .return-top a{
	padding: 2px 67px;
    font-size: 22px;
}